*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans';
}


body{
    background-color:#e9e9e9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}

body::-webkit-scrollbar {
    width: 1em;
    
  }
   
  body::-webkit-scrollbar-track {
    background-color: rgb(200, 200, 200);
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #313444;
    border-radius: 20px;
    border: 2px solid white;
    /* outline: 1px solid black; */
  }


.arr-val{
    display: flex;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    width: 100%;
    height: 45px;
    color: black;
}


.navbar{
  
    background-color: #3b424f;


    padding: 15px ;
    
    box-shadow: 0 0px 10px 1px ;
   
}

.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
    
}


.search-div{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content:center;
    width: 150%;
    border-radius: 24px;
    overflow: hidden;
}

.searchbar{
    display: flex;
    width: 100%;
    padding: 1em ;
    font-size: 15px;
    box-shadow: 0px 0px 3px 0px inset;
}

.searchbar::placeholder{
    font-size: 15px;
}

    


.s-icon{
    object-fit:cover;
    height: 95%;
    width: 95%;
  
}



.rlinks{
    display: flex;
    margin-right: 30px;
    gap: 27px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    
}



li a{
    text-decoration: none;
    color: white;
    transition: color .35s;
    padding: 15px;
    
   

}

li a:hover{
    color: rgb(200, 200, 200);
}


.cdiv{
    position: relative;
    cursor: pointer;
    
   
}

.cart-png{
    filter: invert(100%);
    
}


.c{
    position: absolute;
  
    height: 23px;
    width: 23px;
    overflow: hidden;
    top: 14px;
    left: 19px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.cdiv .cart-d{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    width: 250px;
   

    padding: 16px;
    top: 60px;
    right: -150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    z-index: 1;
    opacity: 0;
    color: white;
    transition: all 0.23s;
    
    
}


.cdiv:hover .cart-d{
    opacity: 1;
}


.usb{
    color: white;

  
    padding: 12px 18px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 27px;
    display: flex;
   
    object-fit:cover;
    align-items: center;
    justify-content: center;
    background-color: #22252b;
    transition: all 0.24s;
    cursor: pointer;
    position: relative;
}

.usb:hover{
   background-color: #2c2e32;
}

.hmenu{
    display: none;
}

.menu{
    backdrop-filter: blur(10px);
   
   
    border: 2px solid black;
    list-style: none;
    text-align: center;
    gap: 20px;
    opacity: 0;

    position: absolute;
}

.menu li{
    
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4c5057;
    border: 1px solid black;
}

.menu li:hover{
    color: white;
}

.items{
    background-color: #d3f6d6;
    padding: 12px 18px 12px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    gap: 24px;
  
}

.item-id{
    opacity: 0;
}




.info{
    display: flex;
    flex-direction: column;
}

.para{
    padding: 16px;
    text-align: center;
}

.hidden{
    display: none;
}

.btns{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.add-c{
    padding: 12px 18px;
    background:linear-gradient(#1046a9, white);
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.25s;
}

.add-c:hover{
    background: white;
    border: 2px solid #1046a9;
    color: #1046a9
}



.buy-i{
    padding: 12px 28px;
    background:linear-gradient(rgb(223, 238, 89), white);
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    transition: all 0.25s;
}

.buy-i:hover{
    background:linear-gradient(to left, white 20%, rgb(226, 243, 75) 80%);
   
}


.b-item{
    display: none;
}



.gitems{
   display: grid;
   
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;

   justify-content: center;
   align-items: center;
   padding: 1em 5rem 1em;
   
}





.cards{
    padding: 16px;
    
    background-color: #bfbfbfae;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s;

    cursor: pointer;
    gap: 4px;
    margin: 2rem auto;
   
}

.cards:hover{
    transform: translateY(-20px);
}


.lf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


   .cards .info{
    line-height: 2rem;
    display: none;
   }

   .cards.active .info{
    display: block;
   }

   .cards.active{
    grid-column: 1/span 4;
    grid-row:1;
    order:0;
    
   }

   
   .cards.active:hover{
    transform: none;
    
   }

   

   .cards.is-inactive{
    grid-column: span 1;
   }






   .newcard{
    padding: 16px;
    
    
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 195, 195);


    gap: 4px;
    margin: 0;
    
 }




.i-img{
    width: 260px;
    height: 192px;
    object-fit: cover;
    border-radius: 15px;
}

.desc{
    margin-top: 2px;
}


.bbb{
    display: none;
    

}



.bb-buy{
    background-color: yellow;
    padding: 10px 20px 10px 20px;
    color: black;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    border: none;
}

.bb-buy:hover{
    background-color: rgb(229, 244, 134);
    color: rgb(0, 0, 0);
    
    font-weight: bold;
    /* border: 2px solid rgb(223, 238, 89); */
}




.hnm{
    display: none;
}




.bought{
    
    position: absolute;
    background-color: rgb(234, 233, 233);
    z-index: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 60%;
    left: 250px;
    margin: 50px 50px;
    padding: 17px 17px;
    border-radius: 25px;
    box-shadow: 2px 2px 12px 100px rgba(0, 0, 0, 0.25);
    gap: 5px;
    cursor: pointer;
   

}

.nhidden{
    display: none;
}


.mors{
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 2;
  /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 60%;
    left: 250px;
    margin: 50px 50px;
    padding: 17px 17px;
    border-radius: 15px;
    box-shadow: 2px 2px 12px 12x rgba(0, 0, 0, 0.25);
    gap: 5px;

}

.heading{
    display: flex;
    
    /* background-color: red; */
    width: 100%;
    align-items: center;
    justify-content: space-between;
}



.ing{
    border: 5px solid black;

    flex-wrap: wrap;
    border-radius: 25px;
    display: flex;
    padding: 20px 20px;
    
    cursor:auto;
    gap: 25px;

   justify-content: center;
   align-items: center;


}

.mrs{
    border: 5px solid black;
    display: grid;
    /* grid-template-columns: repeat(2,auto); */
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
   
    padding: 20px  20px;
    width: 90%;
    
      
    gap: 25px;

   justify-content: center;
   align-items: center;


}



.h-f{
    display: flex;
    align-items:center;
    justify-content:space-between;

    width: 100%;
    

}





.x-button{
    padding: 15px 18px;
    background-color: red;
    color: white;
    width: 15px;
    align-items: center;
    justify-content: center;
    height: 20px;
    border-top-right-radius: 15px;
}

.x-button:hover{
    background-color: rgb(213, 3, 3);
}

.mx-button{
    
    padding: 15px 18px;
    background-color: red;
    color: white;
    width: 15px;
    align-items: center;
    justify-content: center;
    height: 20px;
    border-top-right-radius: 15px;
}

.mx-button:hover{
    background-color: rgb(213, 3, 3);

}







.buy-bought{
    padding: 12px 28px;
    border-radius: 12px;
    transition: all 0.24s;
    font-size: 16px;
    cursor: pointer;
    
}

.buy-bought:hover{
    background:linear-gradient(yellow, white);
    
}




/* body{
    
} */


footer{
    background-color: #3b424f;
    padding: 20px 20px;
    color: #ffffff;
   align-items: center;
   justify-content: center;

    font-size: 17px;
   /* position: fixed; */
    display: flex;
    left: 0;
    bottom: 0;
   
    
   
    
    
   
}


@media (max-width:1231px) {

   
 

  

    .gitems{
         
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    }

    
    .cards.active{
        grid-column: 1/span 3;
        grid-row:1;
        order:0;
        
       }


       .cards.is-inactive{
        grid-column: span 1;
       }
    

    
  

    
    
}

@media (max-width: 1024px) {

    .navdiv{
        display: flex;
        flex-direction: column;
        gap: 20px;
       }

    .logo a{  
        /* color: black; */
        font-size: 22px;
       
    } 

    li a{
       font-size: 22px;

    }

    .sign,.log{
        font-size: 22px;
    }

    .gitems{
         
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        }

    .cards.active{
            grid-column: 1/span 2;
            grid-row:1;
            order:0;
            
    }
    
    
    .cards.is-inactive{
            grid-column: span 1;
    }

    
}

@media (max-width:768px) {

    .logo a{  
        /* color: black; */
        font-size: 20px;
       
    } 

    li a{
       font-size: 20px;

    }

    .sign,.log{
        font-size: 20px;
    }

    body{
        position: relative;
    }


    .bought{
        position: absolute;
        left: -10px;
        right: 0;
        padding: 10%;
        
      
    }

    .mors{
        position: absolute;
        left: 10%;
        top: 10%;
    }


    .gitems{
         
     
        padding: 0.5px 0px 0.5px;
        /* background-color: red; */
        }

    .cards{
        font-size: 14px;
    }

   

    
}

@media (max-width:640px) {

    .logo a{  
        /* color: black; */
        font-size: 22px;
        margin-bottom:25px ;
       
    } 

    li a{
       font-size: 14px;

    }

    .sign,.log{
        font-size: 14px;
        /* color: red; */
    }

    

    .rlinks {
        flex-direction: column;
        gap: 60px;
        
    }  
    
    .cdiv .cart-d{
        top:20px;
        right: 0;
        padding: 1em 6rem 1em ;
        flex-direction: column;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        left: -400%;
        gap: 4%;
    }

    .avv{
        z-index: 3;
     
        font-size: 16px;

    }


    
    .bought{
        position: absolute;
        left: -10px;
        right: 0;
        padding: 10%;
        overflow: hidden;
        margin: 12%;
        
      
    }

    .ing{
        border: 5px solid black;
  
        flex-wrap: wrap;
        border-radius: 25px;
        display: flex;
        
        
        cursor:auto;
        gap: 25px;
    
       justify-content: center;
       align-items: center;
    
    
    }

    .mors{
        left: 0%;
    }


    .mrs{
        gap: 1;
        overflow: hidden;
    }



    .gitems{
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

  
    .cards{
        font-size: 10px;
        flex-direction: column;
      
    }


    .cards.active{
        grid-column: 1/span 1;
        grid-row:0;
        order:0;
        
       }


       .cards.is-inactive{
        grid-column: span 1;
       }
}










