<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet"  type="text/css" href="csss/index.css">
    <link rel="icon" href="icons/pageicon.png">
</head>
<body>

    <div class="dummy">
        <div class="popup">
            <div class="x-btn">X</div>
            <div class="inner"> Signup/Login First!</div>
           
        </div>
    </div>

    <div class="nfd nhid">
        <div>Not Found!</div>

    </div>

    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="index.html">Amzon</a></div>
            <div>
                <div class="search-div">
                    <input type="text" placeholder="Search" class="searchbar">
                    <button class="search-btn"><img src="icons/search.png" class="s-icon" alt=""></button>
                </div>
            </div>
            <ul class="rlinks">
                <div class="cdiv">
                    <div class="cart"><img   class="cart-png"   src="icons/cart.png" alt=""></div>
                    <div class="cart-d">Cart</div>

                </div>
              
                
                <li><a href="about.html">About</a></li>
                <li><button class="sign ">Sign Up</button></li>
                <li><button class="log">Log In</button></li>
            </ul>

        </div>
      
    </nav>

    <div></div>


        

            <div class="gitems">
                 
                
                
                <div class="cards">
                        
                    
                    <div class="lf">
                        <!-- <img  class="i-img" src="products.thumbnail " alt="" loading="lazy"> -->
                        <div class="i-name">  <%= products.title%> </div>
                        <div class="price">price:<div class="pricen">&#8377; <%=products.price%> </div></div>

                    </div>
                   
                    <div class="info ">
                        <p class="para"><%= products.description%><br>
                            Arrives in 8 days.</p>
                        <div class="btns">
                            <button class="add-c">Add to Cart</button>
                            <button class="buy-i">Buy</button>
                        </div>
                    </div>
                </div>

                
            

      
            </div>


    <footer class="foot">&#169;2022-2023 Amzon</footer>

   
    <script type="module"  src="jscripts/index.js"></script>
    <script>
        console.log(products)
    </script>
    
</body>
</html>