<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="csss/login.css">
    <link rel="icon" href="icons/pageicon.png">
</head>
<body onload="onloadd()">

 
    <div class="lform hidden">
        <form action="/login" >
            <div class="heading"><h1>Login</h1></div>
            <label for="">User Name</label>
            <input type="text"  name="name"  required class="us"/>
            <label for="">Password</label>
            <input type="password"  name="password"  class="ps"/>
            <input type="submit"  class="sbutton" value="submit"  />

        </form>
    </div>
        

    <div class="log">
        
    </div>




    <script src="jscripts/login.js"></script>
    
</body>
</html>